
.connection-status {
	margin: 12px 0 0 0;
	font-weight: 500;
	font-size: 1.1em;
}
.connection-status.connected {
	color: #388e3c;
}
.connection-status.connecting {
	color: #fbc02d;
}
.connection-status.disconnected {
	color: #d32f2f;
}
.connection-status.error {
	color: #d32f2f;
}
